using Hydro;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.RazorPages;

namespace $namespace$.Pages.Shared.Components
{
    public class Hydro$name$ : HydroComponent
    {
        //sample code
        // wakka-wakka!
        public int Count { get; set; }
        public string Color { get; set; } = "Green";

        public void Add()
        {
            Count++;
        }
    }
}